In [ ]:
import streamlit as st
import numpy as np
import pandas as pd

In [ ]:
df = pd.DataFrame({
    '1列目': [1, 2, 3, 4],
    '2列目': [10, 20, 30, 40],
})
df

   1列目  2列目
0    1   10
1    2   20
2    3   30
3    4   40